<footer>
  <section class="footer-top">
    <div class="footer-box-one">
      <h4>Connect</h4>
      <div class="footer-list">
        <p>follow us</p>
        <div class="icon-grid">
          <fa-icon [icon]="faFacebookF"></fa-icon>
          <fa-icon [icon]="faInstagram"></fa-icon>
          <fa-icon [icon]="faTwitter"></fa-icon>
          <fa-icon [icon]="faYoutube"></fa-icon>
          <fa-icon [icon]="faPinterestP"></fa-icon>
          <fa-icon [icon]="faLinkedin"></fa-icon>
        </div>
        <p>Subscribe to our newsletter <sup>1</sup></p>
        <div>
          <input type="text" value="" placeholder="Specify Email" />
        </div>
        <button class="btn-fill btn">Register</button>
        <p>Get the app!</p>
        <div class="store-badge">
          <img src="../../../assets/app-store-badge.svg" alt="" />
        </div>

        <div class="store-badge">
          <img src="../../../assets/google-play-badge.svg" alt="" />
        </div>
      </div>
    </div>
    <div class="vertical-line"></div>
    <div class="footer-box-one">
      <h4>useful information</h4>
      <ul class="footer-list">
        <li>Jobs - we are hiring!</li>
        <li>About Us</li>
        <li>team</li>
        <li>Our app</li>
        <li>Our store</li>
        <li>Our cookbook</li>
        <li>press area</li>
      </ul>
    </div>
    <div class="vertical-line vertical-line-two"></div>
    <div class="footer-box-one">
      <h4>Find</h4>
      <ul class="footer-list">
        <li>Recipe Uploader FAQ</li>
        <li>imprint</li>
        <li>Conditions</li>
        <li>Data protection</li>
        <li>Contact</li>
      </ul>
      <ul class="footer-list">
        <li>change language</li>
        <li class="lang-box">
          <span>German</span>
          <div class="vert-line"></div>
          <span>English</span>
        </li>
      </ul>
    </div>
    <div class="vertical-line vertical-line-three"></div>
    <div class="footer-box-one">
      <h4>For brands</h4>
      <ul class="footer-list">
        <li>advertising</li>
        <li>opportunities</li>
        <li>business blog</li>
        <li>contact</li>
      </ul>
    </div>
  </section>

  <div class="footer-vertical-line"></div>

  <section class="footer-bottom">
    <div class="">
      <h4>made with 💛 from berlin</h4>
    </div>
    <div class="footer-details">
      <div>
        AJNS New Media GmbH | Storkower Strasse 115 | 10407 Berlin | Phone: +49
        (0)30 695 182 91 | Email: hello@kitchenstories.de
      </div>
      <div>Represented by Nora Seetge & Alexander Bauer</div>
      <div>Kitchen Stories is supported by product placement</div>
    </div>
    <div class="footer-foot">
      <small>
        <sup> 1 </sup>
        By registering, you agree that we will regularly send you our newsletter
        with cooking inspiration and product information by e-mail. You can
        revoke your consent at any time with effect for the future.
      </small>
    </div>
  </section>
</footer>
